@import "~reset-css";

@font-face {
  font-family: "UbuntuBold";
  src: local("UbuntuBold"), local("Ubuntu Bold"),
    url("../src/assets/Fonts/Ubuntu-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "UbuntuRegular";
  src: local("UbuntuRegular"), local("Ubuntu Regular"),
    url("../src/assets/Fonts/Ubuntu-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: UbuntuRegular;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #373af5;
  background-image: url("./assets/Background/Academy-Weather forecast-Bg-buttom.png"),
    url("./assets/Background/Academy-Weather forecast-Bg-up.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

